<footer class="footer-box">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="col-lg-12">
                    <div class="logo">
                        <a><img src="~/templateportfolio/images/logo1.png" alt="#" /></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="margin-top_30 col-md-8 offset-md-2 white_fonts">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="full icon text_align_center">
                            <img src="~/templateportfolio/images/social1.png">
                        </div>
                        <div class="full white_fonts text_align_center">
                            <p>
                                London 145
                                <br>United Kingdom
                            </p>
                        </div>


                        <div class="full icon text_align_center">
                            <img src="~/templateportfolio/images/social2.png">
                        </div>
                        <div class="full white_fonts text_align_center">
                            <p>
                                consultation@gmail.com
                            </p>
                        </div>


                        <div class="full icon text_align_center">
                            <img src="~/templateportfolio/images/social3.png">
                        </div>
                        <div class="full white_fonts text_align_center">
                            <p>
                                +7586656566
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="margin-top: 50px " class="col-lg-12 white_fonts ">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPortfolio-Prenium-106459114852558&tabs&width=300&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
        <div class="row white_fonts ">
            <div class="col-lg-12">
                <div class="full">
                    <div class="center">
                        <ul class="social_icon">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <p class="crp">© 2021 RD resume . All Rights Reserved.</p>
                <ul class="bottom_menu">
                    <li><a asp-controller="about" asp-action="index">About Us</a></li>
                    <li><a asp-controller="service" asp-action="index">Our Service</a></li>
                    <li><a asp-controller="contact" asp-action="index">Contact us</a></li>
                    <li><a asp-controller="index" asp-action="term">Terms of Service</a></li>
                    <li><a asp-controller="index" asp-action="privacy">Privacy</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>

