


<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["title"]</title>


    <!-- Site Metas -->

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/templateportfolio/css/bootstrap.min.css">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="~/templateportfolio/css/pogo-slider.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/templateportfolio/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/templateportfolio/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/templateportfolio/css/custom.css">

    <link rel="stylesheet" href="~/templateportfolio/css/son.css">
    <link rel="stylesheet" href="~/templateportfolio/css/cuong.css">
    <link rel="stylesheet" href="~/templateportfolio/css/nam.css">
    <link rel="stylesheet" href="~/templateportfolio/css/vinh.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">

        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->
    <header class="top-header">
        <partial name="_Navbar" />
    </header>

    <!-- Start Content -->
    <div class="container-fluid">
        @RenderBody()
    </div>
    <!-- End Content -->
    <!-- Start Footer -->
    <partial name="_Footer" />
    <!-- End Footer -->



    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="~/templateportfolio/js/jquery.min.js"></script>
    <script src="~/templateportfolio/js/popper.min.js"></script>
    <script src="~/templateportfolio/js/bootstrap.min.js"></script>
    <script src="~/templateportfolio/js/son.js"></script>
    <script src="~/templateportfolio/js/nam.js"></script>
    <script src="~/templateportfolio/js/cuong.js"></script>
    <script src="~/templateportfolio/js/vinh.js"></script>

    <!-- ALL PLUGINS -->
    <script src="~/emplateportfolio/js/jquery.magnific-popup.min.jst"></script>
    <script src="~/templateportfolio/js/jquery.pogo-slider.min.js"></script>
    <script src="~/templateportfolio/js/slider-index.js"></script>
    <script src="~/templateportfolio/js/smoothscroll.js"></script>
    <script src="~/templateportfolio/js/form-validator.min.js"></script>
    <script src="~/templateportfolio/js/contact-form-script.js"></script>
    <script src="~/templateportfolio/js/isotope.min.js"></script>
    <script src="~/templateportfolio/js/images-loded.min.js"></script>
    <script src="~/templateportfolio/js/custom.js"></script>
</body>

</html>
