<nav class="navbar header-nav navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="index" asp-action="index"><img src="templateportfolio/images/logo.png" alt="image"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
                aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
            <ul class="navbar-nav">
                <li><a class="nav-link active" asp-controller="index" asp-action="index">Home</a></li>
                <li><a class="nav-link" asp-controller="about" asp-action="index">About us</a></li>
                <li><a class="nav-link" asp-controller="service" asp-action="index">Service</a></li>
                <li><a class="nav-link" asp-controller="contact" asp-action="index">Contact Us</a></li>
                <li>
                    <a class="nav-link active" asp-controller="signin" asp-action="index">
                        SignIn
                        | SignUp
                    </a>
                </li>
            </ul>
        </div>
        <div class="search-box">
            <input type="text" class="search-txt" placeholder="Search">
            <a class="search-btn">
                <img src="templateportfolio/images/search_icon.png" alt="#" />
            </a>
        </div>
    </div>
</nav>
