<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/admin/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <h3>Manage User</h3>
                <li class="active has-sub">
                <li>
                    <a asp-controller="account" asp-action="index">Account</a>
                </li>
                <li>
                    <a asp-controller="hashtag" asp-action="index">Hashtag</a>
                </li>
                <a class="js-arrow" href="#">
                    <i class="fas fa-tachometer-alt"></i>Personal Infomation
                </a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a asp-controller="profie" asp-action="index">Profie</a>
                    </li>
                    <li>
                        <a asp-controller="follow" asp-action="index">Follow</a>
                    </li>
                    <li>
                        <a asp-controller="rating" asp-action="index">Rating</a>
                    </li>
                    <li>
                        <a asp-controller="socialuser" asp-action="index">Social Network</a>
                    </li>
                    <li>
                        <a asp-controller="view" asp-action="index">View</a>
                    </li>
                </ul>

                </li>
                <br /><br />
                <h3>Manage Web</h3>
                <li class="active has-sub">
                <li>
                    <a asp-controller="menu" asp-action="index">Menu</a>
                </li>
                <li>
                    <a asp-controller="footer" asp-action="index">Footer</a>
                </li>
                <li>
                    <a asp-controller="socialweb" asp-action="index">SocialNetwork</a>
                </li>
                <a class="js-arrow" href="#">
                    <i class="fas fa-tachometer-alt"></i>Mail
                </a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a asp-controller="mail" asp-action="index">aaaa</a>
                    </li>
                    <li>
                        <a asp-controller="account" asp-action="index">aaaa</a>
                    </li>
                    <li>
                        <a asp-controller="account" asp-action="index">aaa</a>
                    </li>

                </ul>
                <br />
                <a class="js-arrow" href="#">
                    <i class="fas fa-tachometer-alt"></i>Pages
                </a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a asp-controller="indexpage" asp-action="index">Index</a>
                    </li>
                    <li>
                        <a asp-controller="aboutpage" asp-action="index">About</a>
                    </li>
                    <li>
                        <a asp-controller="contactpage" asp-action="index">Contact</a>
                    </li>
                    <li>
                        <a asp-controller="servicepage" asp-action="index">Service</a>
                    </li>
                    <li>
                        <aasp-controller="signinpage" asp-action="index">SignIn</a>
                    </li>
                    <li>
                        <a asp-controller="signuppage" asp-action="index">SignUp</a>
                    </li>
                </ul>
                </li>
                <br /><br />
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Dashboard 1</a>
                        </li>
                        <li>
                            <a href="index2.html">Dashboard 2</a>
                        </li>
                        <li>
                            <a href="index3.html">Dashboard 3</a>
                        </li>
                        <li>
                            <a href="index4.html">Dashboard 4</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="chart.html">
                        <i class="fas fa-chart-bar"></i>Charts
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="fas fa-table"></i>Tables
                    </a>
                </li>
                <li>
                    <a href="form.html">
                        <i class="far fa-check-square"></i>Forms
                    </a>
                </li>
                <li>
                    <a href="calendar.html">
                        <i class="fas fa-calendar-alt"></i>Calendar
                    </a>
                </li>
                <li>
                    <a href="map.html">
                        <i class="fas fa-map-marker-alt"></i>Maps
                    </a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-copy"></i>Pages
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="login.html">Login</a>
                        </li>
                        <li>
                            <a href="register.html">Register</a>
                        </li>
                        <li>
                            <a href="forget-pass.html">Forget Password</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-desktop"></i>UI Elements
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="button.html">Button</a>
                        </li>
                        <li>
                            <a href="badge.html">Badges</a>
                        </li>
                        <li>
                            <a href="tab.html">Tabs</a>
                        </li>
                        <li>
                            <a href="card.html">Cards</a>
                        </li>
                        <li>
                            <a href="alert.html">Alerts</a>
                        </li>
                        <li>
                            <a href="progress-bar.html">Progress Bars</a>
                        </li>
                        <li>
                            <a href="modal.html">Modals</a>
                        </li>
                        <li>
                            <a href="switch.html">Switchs</a>
                        </li>
                        <li>
                            <a href="grid.html">Grids</a>
                        </li>
                        <li>
                            <a href="fontawesome.html">Fontawesome Icon</a>
                        </li>
                        <li>
                            <a href="typo.html">Typography</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
