
@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Service</h2>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section layout_padding">

    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="full">
                    <div class="center">
                        <img src="templateportfolio/images/icon1.png" alt="#" />
                    </div>
                    <div class="center">
                        <h4>Responsive CV Templates</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="full">
                    <div class="center">
                        <img src="templateportfolio/images/icon2.png" alt="#" />
                    </div>
                    <div class="center">
                        <h4>Designed for Professionals</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="full">
                    <div class="center">
                        <img src="templateportfolio/images/icon3.png" alt="#" />
                    </div>
                    <div class="center">
                        <h4>Faster. interview calls</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-10 offset-lg-1 margin-top_30">
                <div class="full text_align_center">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the scrambled it to make a type specimen book. It has survived not only fiv</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end section -->
<!-- start header -->
<section class="ftco-section bg-light ftco-faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-md-last">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image: url(https://via.placeholder.com/350x280/87CEFA/000000);">
                    <a href="#" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                        <span class="fa fa-play"></span>
                    </a>
                </div>
                <div class="d-flex mt-3">
                    <div class="img img-2 mr-md-2" style="background-image: url(https://via.placeholder.com/240x240/FFB6C1/000000);"></div>
                    <div class="img img-2 ml-md-2" style="background-image: url(https://via.placeholder.com/240x240/20B2AA/000000);"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="heading-section mb-5 mt-5 mt-lg-0">
                    <h2 class="mb-3">Frequently Asks Questions</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                            <h2 class="mb-0">
                                <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="mb-0">How to train your pet dog?</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne" style="">
                            <div class="card-body py-3 px-0">
                                <ol>
                                    <li>Far far away, behind the word mountains</li>
                                    <li>Consonantia, there live the blind texts</li>
                                    <li>When she reached the first hills of the Italic Mountains</li>
                                    <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                    <li>Separated they live in Bookmarksgrove right</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingTwo" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseTwo"
                                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                                        data-parent="#accordion"
                                        data-toggle="collapse"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    <p class="mb-0">How to manage your pets?</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" style="">
                            <div class="card-body py-3 px-0">
                                <ol>
                                    <li>Far far away, behind the word mountains</li>
                                    <li>Consonantia, there live the blind texts</li>
                                    <li>When she reached the first hills of the Italic Mountains</li>
                                    <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                    <li>Separated they live in Bookmarksgrove right</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingThree" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseThree"
                                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                                        data-parent="#accordion"
                                        data-toggle="collapse"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">
                                    <p class="mb-0">What is the best grooming for your pets?</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo" style="">
                            <div class="card-body py-3 px-0">
                                <ol>
                                    <li>Far far away, behind the word mountains</li>
                                    <li>Consonantia, there live the blind texts</li>
                                    <li>When she reached the first hills of the Italic Mountains</li>
                                    <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                    <li>Separated they live in Bookmarksgrove right</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingFour" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseFour"
                                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                                        data-parent="#accordion"
                                        data-toggle="collapse"
                                        aria-expanded="false"
                                        aria-controls="collapseFour">
                                    <p class="mb-0">What are those requirements for sitting pets?</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                                    language ocean.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center full-content">
                <h2 class="section-title no-border v-3"><span>Latest</span> From Blog</h2>
                <p class="sub-section-title v-2">Etiam congue rhoncus gravida. Sed vel sodales tortor. Donec eget dictum enim. Donec tempus euismod metus ac maximus, aenean mattis.</p>
                <div class="mrb-45"></div>
                <!--  /.mrb -->
            </div>
            <!--  /.col-md-12 -->
        </div>
        <!--  /.row -->

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/350x280/FFB6C1/000000" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title"><a href="#">The day you become better.</a></h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">July 25,2017</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        <p>Maecenas tempus, tellus eget anyti condimentum rhoncus, sem quam.</p>
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="pe-7s-comment"></i></a>
                                                <a href="#">50 <i class="pe-7s-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/350x280/FFB6C1/000000" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title"><a href="#">The day you become better.</a></h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">July 25,2017</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        <p>Maecenas tempus, tellus eget anyti condimentum rhoncus, sem quam.</p>
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="pe-7s-comment"></i></a>
                                                <a href="#">50 <i class="pe-7s-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/350x280/FFB6C1/000000" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title"><a href="#">The day you become better.</a></h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">July 25,2017</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        <p>Maecenas tempus, tellus eget anyti condimentum rhoncus, sem quam.</p>
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="pe-7s-comment"></i></a>
                                                <a href="#">50 <i class="pe-7s-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/350x280/FFB6C1/000000" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title"><a href="#">The day you become better.</a></h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">July 25,2017</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        <p>Maecenas tempus, tellus eget anyti condimentum rhoncus, sem quam.</p>
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="pe-7s-comment"></i></a>
                                                <a href="#">50 <i class="pe-7s-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/350x280/FFB6C1/000000" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title"><a href="#">The day you become better.</a></h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">July 25,2017</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        <p>Maecenas tempus, tellus eget anyti condimentum rhoncus, sem quam.</p>
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="pe-7s-comment"></i></a>
                                                <a href="#">50 <i class="pe-7s-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/350x280/FFB6C1/000000" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title"><a href="#">The day you become better.</a></h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">July 25,2017</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        <p>Maecenas tempus, tellus eget anyti condimentum rhoncus, sem quam.</p>
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="pe-7s-comment"></i></a>
                                                <a href="#">50 <i class="pe-7s-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/350x280/FFB6C1/000000" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title"><a href="#">The day you become better.</a></h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">July 25,2017</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        <p>Maecenas tempus, tellus eget anyti condimentum rhoncus, sem quam.</p>
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="pe-7s-comment"></i></a>
                                                <a href="#">50 <i class="pe-7s-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>

                    <!--  /.col-md-6 -->

                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/350x280/87CEFA/000000" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title"><a href="#">The day you become better.</a></h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">July 25,2017</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        <p>Maecenas tempus, tellus eget anyti condimentum rhoncus, sem quam.</p>
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="pe-7s-comment"></i></a>
                                                <a href="#">50 <i class="pe-7s-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <!--  /.col-md-6 -->

                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/350x280/20B2AA/000000" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title"><a href="#">The day you become better.</a></h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">July 25,2017</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        <p>Maecenas tempus, tellus eget anyti condimentum rhoncus, sem quam.</p>
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="pe-7s-comment"></i></a>
                                                <a href="#">50 <i class="pe-7s-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <!--  /.col-md-6 -->
                </div>
                <!--  /.blog-carousel -->
            </div>
            <!--  /.col-12 -->
        </div>
        <!--  /.row -->
    </div>
</section>